body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    border-radius: 25px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  

    
}


/* Modal content */
.modal-content {
    
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 10px;
  
}

/* Close button */
.close-button {
  
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    
    text-decoration: none;
    cursor: pointer;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color:#0056b3 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/037/170/421/non_2x/ai-generated-a-gym-with-dark-exercise-equipment-free-photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

header {
    align-items: center;
    background-image: url("https://t4.ftcdn.net/jpg/03/32/22/55/360_F_332225542_lvdFiQEP1Teh7OjoD7t2cy793hlhN0nz.jpg");
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-family:Helvetica ;
    
    
}


header nav {
    padding-right: 20px;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header nav ul li a:hover {
    color: #77c2bb;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    border-radius: 25px;
}
    
    


section {
    margin-bottom: 40px;
}

section h2 {
    color: white;
    font-size: 2rem;
    border-bottom: 4px solid rgba(255,255,255,0.5);
    margin: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    color: #ccc;
    
    
}

form label {
    margin: 10px 0 5px;
}

form input, form select {
    padding: 12px;
    margin: 20px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -3px -3px rgba(0,0,0,0.5);
    color: white;
    font-size: 1rem;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#current-goal, #progress-content {
    padding: 12px;
    margin: 20px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -3px -3px rgba(0,0,0,0.5);
    color: white;
    font-size: 1rem;
    
   
}
.t{
    text-align: center;
}